<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzjytech.coffeeme"
    android:versionCode="24"
    android:versionName="v2.9.0">

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- locaiton permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <meta-data
            android:name="APP_CHANNEL"
            android:value="${APP_CHANNEL_VALUE}" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan">
        </activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="654de1e147fd46d1c86c6e2d4bf0372d" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5771e09be0f55a44d4000f8f" />

        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authorization.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustResize|adjustPan" />
        <activity
            android:name=".authorization.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".authorization.login.ForgetPsdActivity"
            android:label="@string/title_activity_forget_psd"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".me.MeActivity"
            android:label="@string/title_activity_me"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name="com.hzjytech.scan.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".culture.CultureDetailActivity"
            android:label="@string/title_activity_culture_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".culture.MoreCultureActivity"
            android:label="@string/title_activity_culture_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".home.BannerDetailActivity"
            android:label="@string/title_activity_culture_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".home.FindVendingMachineActivity"
            android:label="@string/title_activity_find_vending_machine"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".home.ModulationActivity"
            android:theme="@style/NotitleTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.PackageModulationActivity"
            android:theme="@style/NotitleTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.ChangepsdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->

        <activity
            android:name=".me.MyBalanceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.UpdateNicknameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".me.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".me.AboutusActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".me.MyCouponActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".me.CouponInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".home.CouponChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".home.NewCartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".me.BindingPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".order.OrderItemDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".order.DetailPackageOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".order.MyPackageCouponsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".me.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".authorization.UserAgreementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name="com.hzjytech.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".me.NewRechargeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".me.PointExchangeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".me.PointRateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".home.NewPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".me.PointRecordsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".me.AboutPointActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".home.OrderPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".order.AbleTakeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".me.SetLoginPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />

        <activity
            android:name=".me.ShareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" >
        </activity>

        <activity android:name=".weibomanager.WBEntryActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".me.ChangeRecipeName"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />

        <activity android:name=".home.SuccessOrderActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".home.SuccessPackageOrderActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="3f6236f894fade40e87efca4" />

        <activity android:name=".jpushmanager.JPushMainActivity" />
        <activity android:name=".jpushmanager.PushSetActivity" />
        <activity android:name=".jpushmanager.JPushSettingActivity" />

        <receiver
            android:name=".jpushmanager.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.hzjytech.coffeeme" />
            </intent-filter>
        </receiver>

        <activity android:name=".jpushmanager.TestActivity" />
        <activity
            android:name=".OtherLoginDialogActivity"
            android:theme="@style/Theme.Transparent" />

        <!-- 百度地图 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="xMzeTHgi9iB56zrnMNv1jG91UM7x8Ict" />


    </application>

</manifest>