<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzjytech.scan">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <activity android:name=".activity.CaptureActivity"/>
    </application>

</manifest>
